/*tablet layout:768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px){
.column{ width:750px;height:1950px;}


.logo{
   width:300px;

}

/*end*/

.search_area input[type="text"]{
	border:none;
	padding:5px 35px;
	
	}

.catagories{
	margin-left:5px;
	
	
	
	
	}
	
.catagory_items a{
	text-decoration:none;
	margin-left:10px;
	
	
	}

.catagories select{
	
	width:140px;
}



/*end*/

.all_post{
	
	width:180px;
	min-height:1500px;
	
	}



.all_ad{
	
	width:530px;
	min-height:1500px;
	
}

.image{
	
	
	width:520px;
	min-height:50px;
	margin-left:3px;
	padding-right:0px;
	
	
	}


.image img{
	
	
	margin-top:10px;
	margin-left:5px;
	width:80px;
	height:60px;
	
	
	
	}


.image h1{ color:#06F;
          margin-left:10px;
		  font-size:15px;
		  margin-top:8px;
		 
		  }
		  
.image p{
	margin-left:-100px;
	margin-top:55px;
	font-size:13px;
	 
	}



.image span{
	margin-right:10px;
	margin-top:20px;
	
	}
	
.image a{
	margin-right:-40px;
		margin-top:60px;
		
	
	
	}

.anything h1{
	margin-left:-280px;
	 
	
	
	}
	
	
.anything p{ margin-left:50px;}
.anything a{
	
	
	margin-left:255px;
	
	
	
	}

.advertisement .description{
	 width:400px;
	 
	height:200px;
	
	}


}






/*mobile layout:768px.*/

@media only screen and (max-width: 767px){
.column{ width:300px; height:3250px;}

.logo{ width:140px;
}

.logo a{
	font-size:13px;
	font-weight:bold;
	}

.login{ width:140px;
        margin-top:-20px;
       
	   }

.login .log{
	font-size:10px;
	margin-right:5px;
	
	}

.login .add{
	font-size:12px;
	padding:5px 8px;
	border-radius:3px;
	
	}

/*end*/

.mainmenu{ background:#039851; min-height:135px; border-radius:3px; border:5px solid #04B362;}
.search_area{
	margin-left:5px;
	margin-top:5px;
	}
.search_area input[type="text"]{
	padding:5px 15px;
	width:240px;
	}
.search_area input[type="submit"]{
	padding:5px 3px;
	}
	
.catagories{
	margin-left:5px;
	margin-top:5px;
	
	}
.catagories select{
	width:184px;
	}

.catagories input[type="submit"]{
	padding:5px 3px;
	margin-top:5px;
	}
	

/*end*/



.blank{
	min-height:60px;
	}
/*end*/
.all_post{
	width:260px;
	min-height:630px;
	margin-bottom:0px;
	}
	
.area_items{padding-bottom:30px;}

.all_ad{
	
	width:260px;
	border:1px solid #CCC;;
	background:#F1F1F1;
	min-height:1900px;
	border-top:none;
	padding-bottom:15px;
	margin-bottom:50px;	
	
	
	
	}


.image{
	margin-top:20px;
	border:1px solid #999;
	margin-left:5px;
	padding-bottom:20px;
	padding-right:0px;
	width:250px;
	min-height:150px;
	text-decoration:none;
	
	}
	
	
.image img{
	
	border:3px solid #fff;
	box-shadow:4px 4px 2px 2px;
	margin-top:18px;
	margin-left:15px;
	width:80px;
	height:50px;
	
	
	
	}
	
.image h1{ color:#06F;
          margin-left:15px;
		  font-size:12px;
		  margin-top:20px;
		 
		  }
		  
.image p{
	margin-top:50px;
	
	 
	}

.image span{
	margin-right:10px;
	margin-top:50px;
	
	}
	
.image a{
	margin-right:195px;
		margin-top:-20px;
		
	
	
	}
/*end*/

.anything h1{
	width:200px;
	margin-left:30px;
	text-align:center;
	}

.anything a{
	
	font-size:20px;
	margin-left:20px;
	background-color:#F6C00A;
	padding:10px 30px;
	color:#fff;
	border-radius:8px;
	text-decoration:none;
	box-shadow:4px 4px 5px 5px #999;
	
	
	}

.advertisement .description{
	 width:250px;
	 
	height:150px;
	


	}
	

.advertisement input[type="text"]{
	width:200px;
	height:30px;
	
	
	
	}

}




/*wide mobile layout:480px.*/

@media only screen and (min-width: 480px) and (max-width: 767px){
.column{ width:450px; height:3050px;}

.logo{ width:200px;


}

.logo a{
	font-size:20px;
	
	}
.login{ width:230px;
       margin-top:-24px;
	   
	   }




.login .log{
	font-size:15px;
	color:black;
	margin-right:20px;
	margin-left:45px;
	text-decoration:none;
	color:#999;
	
	
	}
	
/*end*/

.mainmenu{ min-height:90px;}

.search_area{
	margin-left:5px;
	margin-top:10px;
	
	
	}

.search_area input[type="text"]{
	border:none;
	padding:5px 90px;
	
	}
	
.catagories{
	margin-left:5px;
	
	
	
	
	}

.catagories select{
	
	width:166px;
	
	
	
	
}
.catagories input[type="submit"]{
	padding:5px 3px;
	
	margin-left:-2px;
	
	
	
	}

	

	
/*end*/

.all_post{
	
	
	
	width:410px;
	
	min-height:600px;
	margin-bottom:0px;
	}
	
.catagory_items a{
	
	margin-left:40px;
	}

.area_items a{
	
	margin-left:40px;
	
	}

.area_items{padding-bottom:50px;}

.all_ad{
	
	width:410px;
	border:1px solid #CCC;;
	background:#F1F1F1;
	min-height:1870px;
	border-top:none;
	padding-bottom:15px;
	margin-bottom:50px;	
	
	
	
	}
	
.image{
	margin-top:20px;
	border:1px solid #999;
	margin-left:5px;
	padding-bottom:5px;
	padding-right:0px;
	width:400px;
	min-height:150px;
	
	
	
}

.image img{
	
	border:3px solid #fff;
	box-shadow:4px 4px 2px 2px;
	margin-top:20px;
	margin-left:20px;
	width:80px;
	height:50px;
	
	
	
	}
.image p{
	margin-top:60px;
	margin-left:-100px;
	 
	}
	
	
.image span{
	margin-right:10px;
	margin-top:25px;
	
	}
	
.image a{
	margin-right:-40px;
		margin-top:70px;
		
	
	
	}
	
/*end*/

.anything h1{
	font-size:20px;
	width:300px;
	margin-left:60px;
	}
	
	
.anything p{
	font-size:15px;
	margin-bottom:20px;
	}
	
.anything a{
	font-size:20px;
	margin-left:110px;
	padding:10px 20px;
	}





.advertisement .description{
	 width:400px;
	 
	height:200px;
	
	}

}

























